@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MusicShop.Com!</h1>
    <p>Choose an option from the navigation bar to get started.</p>
</div>
